body {
  padding: 2rem;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

#play-pause:checked + label::after {
  content: "⏸️";
}

#play-pause:not(:checked) + label::after {
  content: "▶️";
}

#play-pause + label::after {
  cursor: pointer;
  font-size: 2rem;
}

#play-pause {
  vertical-align: middle;
  display: none;
}

#duration-scrubber {
  margin-bottom: 0;
}
